<form method="post" action="/">
    username: <br>
    <input type="text" name="username"><br>
    password: <br>
    <input type="password" name="password">
    <br><input type="submit" value="login"><br>
</form>
<form method="get" action="/signup">
    <br>New user ?
    <br><input type="submit" value="signup">
</form>
