<form method="post"  id="signup-form" action="/signup">
    First name: <br>
    <input type="text" id="firstname" name="firstname"><br>
    Last name: <br>
    <input type="text"  id="lastname" name="lastname"><br>
    username: <br>
    <input type="text"  id="username" name="username"><br>
    password: <br>
    <input type="password"  id="password" name="password"><br>
    confirm password : <br>
    <input type="password" id="cpassword" name="cpassword"><br>
    <br><input type="submit" id="signup" value="signup"><br>
</form>